html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#display {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.header {
  font-size: 40px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

th, td {
  border: 1px solid gray;
  font-size: 20px;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

#item-template {
  display: none;
}

.book {
  display: flex;
  height: 180px;
  width: 280px;
}

.book-img > img {
  height: 180px;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 3px 4px gray;
}

.book-controls > img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.book-info {
  margin-left: 10px;
  overflow: hidden;
}

.book-title {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}
.book-year {
  display: inline;
  color: #686868;
  font-size: 14px;
}

.book-author {
  color: 	#505050;
  font-size: 16px;
  margin: 10px 0;
}

.library {
  height: 85%;
  min-height: 200px;
  padding: 15px;

  width: 700px;
  background-color: white;
  margin: 100px 0;
  border-radius: 10px;
  box-shadow: 15px 20px 25px lightblue;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 90%;
}
.book-list > div {
  margin: 20px;
}

.book-controls > img {
  cursor: pointer;
}

.transparent-overlay {
  height: 85%;
  min-height: 200px;
  padding: 15px;

  width: 700px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 0.5);
}

.book-form {
  background-color: white;
  border-radius: 8px;
  height: 70%;
  width: 70%;
  padding: 15px;
}